.outer {
  margin: 12vh 30vw 12vh 25vw;
  padding: 5%;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.description {
  width: 165px;
  display: flex;
  margin-right: 10px;
}

.object {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  font-size: 24px;
  font-family: Cambria serif;
  color: #084349;
}

input {
  padding-left: 5px;
  width: 280px;
  height: 28px;
  border: 2px solid #084349;
  border-radius: 8px;
  color: #084349;
  font-size: 20px;
  transition: 0.5s;
  outline: none;
}

.button {
  width: 96px;
  border: 2px solid #084349;
  border-radius: 8px;
  background-color: #fff;
  font-size: 24px;
  font-family: Cambria serif;
  color: #084349;
  transition: 0.3s;
}

.button:hover {
  background-color: #084349;
  color: #fff;
  border-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
